@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
	--primary: #6b59d3;
	--secondary: #bfc0c0;
	--white: #fff;
	--text-clr: #5b6475;
	--header-clr: #25273d;
	--next-btn-hover: #8577d2;
	--back-btn-hover: #8b8c8c;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}

body{
	background-color: rgb(222, 65, 91);
	color: var(--text-clr);
	font-size: 16px;
	position: relative;
}

.wrapper{
	width: 750px;
	max-width: 100%;
	background: var(--white);
	margin: 100px auto 0;
	padding: 50px;
	border-radius: 5px;
}

.wrapper .header{
	margin-bottom: 35px;
	display: flex;
	justify-content: center;
}

.wrapper .header ul{
	display: flex;
}

.wrapper .header ul li{
	margin-right: 50px;
	position: relative;
}

.wrapper .header ul li:last-child{
	margin-right: 0;
}

.wrapper .header ul li:before{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 55px;
	width: 100%;
	height: 2px;
	background: var(--secondary);
}

.wrapper .header ul li:last-child:before{
	display: none;
}

.wrapper .header ul li div{
	padding: 5px;
	border-radius: 50%;
}

.wrapper .header ul li p{
	width: 50px;
	height: 50px;
	background: var(--secondary);
	color: var(--white);
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
}

.wrapper .header ul li.active:before{
	background: var(--primary);
}

.wrapper .header ul li.active p{
	background: var(--primary);
}

.wrapper .form_wrap{
	margin-bottom: 35px;
}

.wrapper .form_wrap h4{
	color: var(--header-clr);
	text-align: center;
	/* text-transform: uppercase; */
	margin-bottom: 50px;
}

.wrapper .form_wrap .input_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto 20px;
}

.wrapper .form_wrap .input_wrap:last-child{
	margin-bottom: 0;
}

.wrapper .form_wrap .input_wrap label{
	/* display: inline-block; */
	margin-bottom: 5px;
}

.check{
    margin-bottom: 20px;
    font-size: 18px;
    color: rgb(237, 53, 84);
}

.wrapper .form_wrap .input_wrap .input{
	border: 2px solid var(--secondary);
	border-radius: 3px;
	padding: 10px;
	display: block;
	width: 100%;	
	font-size: 16px;
	transition: 0.5s ease;
}

.wrapper .form_wrap .input_wrap .input:focus{
	border-color: var(--primary);
}

.wrapper .btns_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto;
}

.wrapper .btns_wrap .common_btns{
	display: flex;
	justify-content: space-between;
}

.wrapper .btns_wrap .common_btns.form_1_btns{
	justify-content: flex-end;
}

.wrapper .btns_wrap .common_btns button{
	border: 0;
	padding: 12px 15px;
	background: rgb(210, 86, 106);
	color: var(--white);
	width: 135px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: 3px;
	transition: 0.5s ease;
	cursor: pointer;
}

.wrapper .btns_wrap .common_btns button.btn_back{
	background: var(--secondary);
}

.wrapper .btns_wrap .common_btns button.btn_next .icon{
	display: flex;
	margin-left: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_back .icon{
	display: flex;
	margin-right: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_next:hover,
.wrapper .btns_wrap .common_btns button.btn_done:hover{
	background: rgb(247, 62, 92);
}

.wrapper .btns_wrap .common_btns button.btn_back:hover{
	background: var(--back-btn-hover);
}

.modal_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.modal_wrapper .shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: 0.2s ease;
}

.modal_wrapper .success_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-800px);
	background: var(--white);
	padding: 40px;
	border-radius: 5px;
	transition: 0.5s ease;
}

.modal_wrapper .success_wrap h3{
    text-align: center;
    margin: 30px 0px;
    font-size: 30px;
    color: rgb(247, 69, 99);
}

.modal_wrapper .success_wrap p{
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.modal_wrapper .success_wrap img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.modal_wrapper .success_wrap button{
    font-size: 15px;
    padding: 8px;
    border-radius: 20px;
    margin: 20px 0px;
    border: 2px solid rgb(246, 66, 96);
    color: rgb(246, 66, 96);
    cursor: pointer;
}

.modal_wrapper .success_wrap button:hover{
    background-color: rgb(246, 66, 96);
    color: white;
}

.modal_wrapper .success_wrap > div{
    display: flex;
    gap: 60px;
}

.modal_wrapper.active{
	visibility: visible;
}

.modal_wrapper.active .shadow{
	opacity: 1;
}

.modal_wrapper.active .success_wrap{
	transform: translate(-50%,-50%);
}






.radio1{
    height: 50px;
    width: 100%;
    color: rgb(237, 53, 84);
    border: 1px solid rgb(237, 53, 84);
    border-radius: 30px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
}

.radio1:hover{
    background-color: rgb(245, 213, 219);
}

.radio:checked + .radio1{
    background-color: rgb(237, 53, 84);
    color: white;
}

.radio{
    display: none;
}

input[type = checkbox]:checked{
    background-color:   pink;
}